<app-breadcrumb #breadcrumb></app-breadcrumb>

<div class="app-card product-detail">
    <div class="row ">
        <div class="col-12">
            <img src="https://via.placeholder.com/680" alt="" class="detail-img float-left">
            <div>
                <p class="detail-condition">
                    Nuevo - 234 vendidos
                </p>
                <p class="detail-title">
                    Deco Reverse Sombrero Oxford
                </p>
                <p class="detail-price">
                    $ 1.980
                </p>
                <div class="row no-gutters">
                    <div class="col-12">
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="detail-description-title">
                Descripción del producto
            </p>
            <p class="detail-description">
                The Scarpe di Bianco Italian footwear collection was founded by bill white in 2009. Di Bianco offers classic handmade mens shoes wirh a moder weist
            </p>
        </div>
    </div>
</div>
