<app-breadcrumb #breadcrumb></app-breadcrumb>

<div class="app-card product-detail">
    <div class="row ">
        <div class="col-12">
            <img [src]="productDetail.item.picture" alt="" class="detail-img float-left">
            <div>
                <p class="detail-condition">
                    {{productDetail.item.condition}} - {{productDetail.item.sold_quantity}} vendidos
                </p>
                <p class="detail-title">
                    {{productDetail.item.title}}
                </p>
                <span class="detail-price">
                    <span>$ {{getPrice()}}</span>
                    <sup *ngIf="productDetail.item.price.decimals !== 0">{{productDetail.item.price.decimals}}</sup>
                </span>

                <div class="row no-gutters">
                    <div class="col-12">
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="detail-description-title">
                Descripción del producto
            </p>
            <p class="detail-description">
                {{productDetail.item.description}}
            </p>
        </div>
    </div>
</div>