
  <header class="container-fluid pt-2 pb-2 app-header">
    <!-- Si bien es solo un buscador esta seccion puede crecer y ser un menu de navegacion con la posibilidad de tener links, login, etc -->
   <nav class="container" role="navigation">
     <div class="row">
        <div class="offset-md-1 col-1">
          <a class="" href="#">
            <img src="/assets/Logo_ML.png" alt="">
        </a>
        </div>
        <div class="col-9">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nunca dejes de buscar" aria-label="Nunca dejes de buscar" aria-describedby="button-search">
            <div class="input-group-append">
              <button class="btn btn-light" type="button" id="button-search">
                <img src="/assets/ic_Search.png" alt="">
              </button>
            </div>
          </div>
        </div>
     </div>
    </nav>
</header>

