<div class="row product-item">
    <div class="col-11">
        <img src="https://via.placeholder.com/180" alt="" class="item-img float-left">
        <div class="row no-gutters">
            <div class="col-10">
                <p class="item-price">$1.980
                    <img src="/assets/ic_shipping.png" alt="">
                </p>
            </div>
            <div class="col-2">
                <p class="item-location">Capital Federal</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-8">
                <p class="item-description">
                    Apple Ipod Touch 5g 16gb Negro Igual a Nuevo Completo Único!
                </p>
            </div>

        </div>
    </div>
</div>