
<div class="row product-item" (click)="goToDetail(id)">
   
    <div class="col-11">
        <img [src]="picture" alt="" class="item-img float-left">
        <div class="row no-gutters">
            <div class="col-10">
                 <span class="item-price">
                    <span>$ {{getPrice()}}</span>
                    <sup *ngIf="decimals !== '0'">{{decimals}}</sup>
                    <img src="/assets/ic_shipping.png" alt="free shipping" [hidden]="!free_shipping">
                </span>
            </div>
            <div class="col-2">
                <p class="item-location">{{address}}</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-8">
                <p class="item-description">
                    {{title}}
                </p>
            </div>

        </div>
    </div>


</div>
